{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block head_title %}ICMYC{% endblock head_title %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
        {% include 'includes/css.html' %}
    </head>
    <body>
        {% include 'includes/nav_bar.html' %}
        {% if messages%}
        <div class="alert messages text-center">
                {% for message in messages %}
                <b>{{ message }}</b><br/>
                {% endfor %}            
        </div>
        {% endif %}
        <header>
            {% if user.is_authenticated %}
            Welcome {{user.username}}
            {% endif %}
        </header>
        <br>
        <main>
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </main>
        {% include 'includes/js.html' %}
    </body>
</html>